body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f7;
    color: #34495e;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2c3e50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ecf0f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.titulo i {
    margin-right: 10px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #3498db;
}

.container {
    padding: 20px;
}

.cuenta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.cuenta-header h1 {
    margin: 0;
    font-size: 24px;
    color: #2c3e50;
}

.cuenta-header p {
    margin: 0;
    font-size: 18px;
    color: #2c3e50;
}

.cuenta-header strong {
    font-size: 20px;
    color: #27ae60;
}

.formulario {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
    font-weight: bold;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.formulario button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #2980b9;
}

.formulario a {
    display: inline-block;
    margin-top: 10px;
    color: #34495e;
    text-decoration: none;
}

.formulario a:hover {
    color: #3498db;
}

.formulario .btn-cancelar {
    background-color: #e74c3c; /* Puedes usar un color diferente para distinguir entre registrar y cancelar */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.formulario .btn-cancelar:hover {
    background-color: #c0392b; /* Un color más oscuro para el hover */
}
