@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Estilos generales */
/* Estilo del encabezado */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f7;
    color: #34495e;
    margin: 0;
    padding: 0;
}
nav {
    position: -webkit-sticky; /* Para Safari */
    position: fixed;
    position: sticky;
    top: 0; /* Fija la barra de navegación en la parte superior */
    width: 100%;
    background-color: #2c3e50; /* Color de fondo */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ecf0f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que la barra de navegación esté por encima del contenido */
}

nav .titulo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav .titulo i {
    margin-right: 10px;
}

nav .barraNavegacion {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
}

nav .barraNavegacion ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .barraNavegacion ul li {
    margin-left: 20px;
}

nav .barraNavegacion ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav .barraNavegacion ul li a:hover {
    color: #3498db;
}

nav form {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.input-icon-wrapper {
    position: relative;
    display: inline-block;
}

.with-icon {
    padding-left: 25px; /* Espacio para el icono */
    font-family: 'FontAwesome', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 40px;
}

nav form button {
    padding: 8px 12px;
    background-color: #0c0b10;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav form button:hover {
    background-color: #425968;
}

/* Estilos de las cuentas */
.cuentas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cuenta {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.cuenta h1 {
    font-size: 18px;
    margin: 10px 0;
    color: #2c3e50;
}

/* Estilo de iconos y botones */
.iconos {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 16px;
}

.iconos i {
    margin-right: 5px;
}

.iconos button {
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.iconos button:hover {
    color: #2980b9;
}

/* Estilos de las categorías */
.categorias {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.categoria-contenedor {
    display: flex;
}

.categoria-item {
    margin-right: 10px; /* Espacio entre los elementos, opcional */
}

.categorias h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.categorias h2 {
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    color: #2c3e50;
}

.categoria-item {
    display: inline-block;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.categoria-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.categoria-item span {
    font-size: 14px;
    color: #555;
}
.categoria-item h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.categoria-item .valoregreso {
    font-size: 18px;
    color: #e74c3c; /* Color rojo para valores negativos */
    font-weight: bold;
}
.categoria-item .valoringreso {
    font-size: 18px;
    color: #0eb13c; /* Color rojo para valores negativos */
    font-weight: bold;
}


/* Estilos de los movimientos */
.movimientos {
    padding: 20px;
}

.movimientos .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.movimientos h1 {
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.movimientos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.movimientos table th,
.movimientos table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.movimientos table th {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-weight: bold;
}

.movimientos table td {
    background-color: #ffffff;
    color: #34495e;
}

.movimientos table tr:hover td {
    background-color: #f1f1f1;
}

.movimientos .btn-group {
    display: flex;
    gap: 10px;
}

.movimientos .btn-group button {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.movimientos .btn-group .btn-update {
    background-color: #3498db;
    color: #fff;
}

.movimientos .btn-group .btn-update:hover {
    background-color: #2980b9;
}

.movimientos .btn-group .btn-danger {
    background-color: #e74c3c;
    color: #fff;
}

.movimientos .btn-group .btn-danger:hover {
    background-color: #c0392b;
}


